[Desktop Entry]
Encoding=UTF-8
Name=NiubilityWord
Comment= create by lizhiqi
#Exec=python2.7 /home/lizhiqi/workspace/NiubilityWord/main.py
#Icon=/home/lizhiqi/workspace/NiubilityWord/res/app_icon.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Application;Development;
