QWidget {
    background-color: white;
    color: black;
}

QPushButton {
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid;
}

QPushButton#btn_search {
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 2px;
    height: 30px;
    width: 35px;
}

QLineEdit {
    background-color: transparent;
    border: 0px solid;
}

/*frame*/
QFrame {
    background-color: transparent;
}

QFrame#input_frame {
    border-radius: 5px;
    border: 1px solid floralwhite;
    background-color: whitesmoke;
}

QFrame#air_frame {
    border: 0px;
}

/*label*/
QLabel {
    border: 0px solid gray;
    background-color: transparent;
}

QLabel#key_label {
    border: 0px solid gray;
    background-color: transparent;
    font-size: 14px;
}

QLabel#value_label {
    border: 0px;
    background-color: transparent;
    font-size: 14px;
    color: gray;

}

QLineEdit#detail_head {
    font-weight: bold;
    font-size: 24px;
    font-family: Tahoma;
}

QLabel#PhItem {
    font-size: 16px;
    color: darkgrey;
    font-family: Lucida Sans Unicode;
}


