QFrame{
    border: 1px solid gray;
}
QFrame#content_frame {
    border-left: 0px;
    background-color: white;
    margin: 0px;
    spacing:0px;
}

QPushButton {
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 2px;
}

CatalogButton:hover {
    color: gray;
}

CatalogButton:checked {
    color: green;
}
QLabel {
    border: 0px;
}
