QPushButton#btn_web {
    border: 1px solid floralwhite;
    border-radius: 2px;
    background-color: whitesmoke;
    margin-top: 10px;
}

QLineEdit#web_edit_key {
    border: 0px;
    background-color: transparent;
    font-size: 20px;
    color: green;
}

QLabel#web_lable_value {
    border: 0px;
    background-color: transparent;
    font-size: 16px;
    color: gray;
}

QListWidget {
    border: 0px;
}

QListWidget#web_list_widget::Item {
    width: auto;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}